
body {
    margin: 0;
    font-family: Bahnschrift, sans-serif;
    color: #0B0E17;
}

.home-container {
    text-align: center;
}

/* Header Styles */
.logo-search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0B0E17;
    padding: 10px;
    /*border: 2px solid orange;*/
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: gray;
}

    .logo img {
        height: 80px;
        margin-right: 10px;
    }

.search-box {
    display: flex;
    align-items: stretch;
}

    .search-box input {
        width: 700px;
        padding: 10px;
        border: 2px solid #CD1130;
        border-radius: 20px;
    }

    .search-box button {
        background-color: #0B0E17;
        border: solid;
        cursor: pointer;
        margin-left: auto;
    }

        .search-box button i {
            color: #FA044F;
            font-size: 18px;
        }

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #FA044F;
    font-size: 20px;
}

    .nav-links a:hover {
        color: #8B0200;
    }


/* Company Info */
.company-info {
    margin-top: -30px;
    font-size: 50px;
    color: white;
    font-family: Bahnschrift, sans-serif;
}

/* Footer Styles */
footer {
    /*position: fixed;*/
    bottom: 0;
    left: auto;
    width: 100%;
    background-color: #0B0E17;
    padding: 20px;
    /* border-top: 3px solid orange;*/
    text-align: center;
    font-size: 14px;
    font-family: Bahnschrift, sans-serif;
}

    footer .company-info h3 {
        font-size: 5.5rem;
        margin-bottom: 10px;
        color: #ECEAE4;
    }

    footer .company-info h4 {
        font-size: 4.25rem;
        margin-top: 20px;
        margin-bottom: 10px;
        color: #ECEAE4;
    }

    footer .company-info p {
        font-size: 2rem;
        line-height: 1.5;
        color: darkgrey;
    }

.footer-content {
    display: flex;
    justify-content: space-between; /* Espacia el texto y los íconos al borde */
    align-items: center; /* Alinea verticalmente el texto y los íconos */
}

.company-info {
    flex: 1; /* Permite que el área de información ocupe el espacio disponible */
}

.social-icons {
    display: flex;
    justify-content: flex-end;
}

    .social-icons a {
        margin-left: 10px;
    }

    .social-icons img {
        width: 70px;
        height: 70px;
    }

.social-icons {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 20px;
}

    .social-icons a {
        margin-left: 5px;
    }

    .social-icons img {
        width: 70px;
        height: 70px;
        position: center;
    }


